@font-face {
   font-family: 'New Spirit SemiBold';
   font-display: swap;
   src: url('file:///Users/madhurapawar/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-10-28_183304/fonts/New%20Spirit%20SemiBold/font.woff');
}
